<h1 mat-dialog-title>
  <span *ngIf="data.type === 'add'" i18n>Add</span>
  <span *ngIf="data.type === 'edit'" i18n>Edit</span>
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label i18n>Name</mat-label>
      <input formControlName="name" matInput placeholder="Categoria" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>Icon</mat-label>
      <input formControlName="icon" type="text" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>
      <input formControlName="color" type="color" matInput />
    </mat-form-field>

    <ng-container *ngIf="form.get('name')?.value !== ''">
      <h3 i18n>Preview:</h3>

      <button [style.color]="form.get('color')?.value" mat-button type="button">
        <mat-icon class="mr-2" *ngIf="form.get('icon')?.value !== ''">
          {{ form.get('icon')?.value }}
        </mat-icon>
        <span>{{ form.get('name')?.value }}</span>
      </button>
      <br />
    </ng-container>

    <div>
      <button
        class="mr-2"
        [disabled]="form.invalid"
        [mat-dialog-close]="form.value"
        mat-flat-button
        color="primary"
        type="submit" i18n>Save</button>
      <button mat-button color="warn" type="button" mat-dialog-close>
        Cancel
      </button>
    </div>
  </form>
</div>
