<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="filter-form">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label i18n="Name">Name</mat-label>
            <input
              matInput
              placeholder="Name"
              type="text"
              formControlName="name"
              min="0" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label i18n="Barcode">Barcode</mat-label>
            <input
              matInput
              placeholder="E.g. John"
              type="text"
              formControlName="barcode" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label i18n="Category">Category</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option></mat-option>
              <mat-option
                *ngFor="let category of categories"
                [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label i18n="Has low stock">Has low stock</mat-label>
            <mat-select placeholder="Has Stock" formControlName="hasLowStock">
              <mat-option></mat-option>
              <mat-option [value]="true" i18n="True">True</mat-option>
              <mat-option [value]="false" i18n="False">False</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="mr-2" mat-raised-button color="primary" type="submit" i18n="Filter products">Filter products</button>
          <button
            (click)="form.reset(); onSubmit()"
            mat-button
            color="warn"
            type="button" i18n="Reset form">Reset form</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
